<footer class="container-fluid" style="margin-top: 2rem">
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container justify-content-center text-light">
      &copy; <%= Time.now.year %><a href="https://eclecticsaddlebag.com">&nbsp; EclecticCoding</a>&nbsp; - Designed by&nbsp;
      <a href="https://twitter.comEclecticCoding"> Chuck Smith</a>
    </div>
  </nav>
</footer>